<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broad.system.mapper.SysAdminMapper">


    <sql id="item">
        id
        ,user_name,nick_name,avatar,email,mobile,last_ip,last_logintime,dept_id,last_loginip,password,salt,motto,create_time,update_time,user_status
    </sql>

    <select id="selectAll" resultType="com.broad.system.entity.SysAdmin">
        select ad.*,
               acc.group_id as roleId,
               ag.name      as groupName,
               sd.dept_name as deptName
        from sys_admin ad
                 left join sys_admin_group_access acc on ad.id = acc.uid
                 left join sys_admin_group ag on acc.group_id = ag.id
                 left join sys_dept sd on ad.dept_id = sd.dept_id
    </select>

    <select id="selectAllByIds" resultType="com.broad.system.entity.SysAdmin">
        select ad.*,
        acc.group_id as roleId,
        ag.name as groupName,
        sd.dept_name as deptName
        from sys_admin ad
        left join sys_admin_group_access acc on ad.id = acc.uid
        left join sys_admin_group ag on acc.group_id = ag.id
        left join sys_dept sd on ad.dept_id = sd.dept_id
        where ad.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into db_template_database.sys_admin(user_name, nick_name, avatar, email, mobile, login_failure,
        last_logintime, last_loginip, password, salt, motto, create_time, update_time, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userName}, #{entity.nickName}, #{entity.avatar}, #{entity.email}, #{entity.mobile},
            #{entity.loginFailure}, #{entity.lastLogintime}, #{entity.lastLoginip}, #{entity.password}, #{entity.salt},
            #{entity.motto}, #{entity.createTime}, #{entity.updateTime}, #{entity.status})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into db_template_database.sys_admin(user_name, nick_name, avatar, email, mobile, login_failure,
        last_logintime, last_loginip, password, salt, motto, create_time, update_time, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userName}, #{entity.nickName}, #{entity.avatar}, #{entity.email}, #{entity.mobile},
            #{entity.loginFailure}, #{entity.lastLogintime}, #{entity.lastLoginip}, #{entity.password}, #{entity.salt},
            #{entity.motto}, #{entity.createTime}, #{entity.updateTime}, #{entity.status})
        </foreach>
        on duplicate key update
        user_name = values(user_name) , nick_name = values(nick_name) , avatar = values(avatar) , email = values(email)
        , mobile = values(mobile) , login_failure = values(login_failure) , last_logintime = values(last_logintime) ,
        last_loginip = values(last_loginip) , password = values(password) , salt = values(salt) , motto = values(motto)
        , create_time = values(create_time) , update_time = values(update_time) , status = values(status)
    </insert>

</mapper>

