<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broad.system.mapper.SysDictTypeMapper">

    <resultMap type="com.broad.system.entity.SysDictType" id="SysDictTypeMap">
        <result property="dictId" column="dict_id" jdbcType="INTEGER"/>
        <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="dictId" useGeneratedKeys="true">
        insert into db_template_database.sys_dict_type(dict_name, dict_type, status, create_by, create_time, update_by,
        update_time, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.dictName}, #{entity.dictType}, #{entity.status}, #{entity.createBy}, #{entity.createTime},
            #{entity.updateBy}, #{entity.updateTime}, #{entity.remark})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="dictId" useGeneratedKeys="true">
        insert into db_template_database.sys_dict_type(dict_name, dict_type, status, create_by, create_time, update_by,
        update_time, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.dictName}, #{entity.dictType}, #{entity.status}, #{entity.createBy}, #{entity.createTime},
            #{entity.updateBy}, #{entity.updateTime}, #{entity.remark})
        </foreach>
        on duplicate key update
        dict_name = values(dict_name) , dict_type = values(dict_type) , status = values(status) , create_by =
        values(create_by) , create_time = values(create_time) , update_by = values(update_by) , update_time =
        values(update_time) , remark = values(remark)
    </insert>

</mapper>

