<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broad.system.mapper.SysMenuRuleMapper">

    <resultMap type="com.broad.system.entity.SysMenuRule" id="SysMenuRuleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="keepalive" column="keepalive" jdbcType="INTEGER"/>
        <result property="extend" column="extend" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="weigh" column="weigh" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into db_template_database.sys_menu_rule(pid, type, title, name, path, icon, menu_type, url, component,
        keepalive, extend, remark, weigh, status, update_time, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.pid}, #{entity.type}, #{entity.title}, #{entity.name}, #{entity.path}, #{entity.icon},
            #{entity.menuType}, #{entity.url}, #{entity.component}, #{entity.keepalive}, #{entity.extend},
            #{entity.remark}, #{entity.weigh}, #{entity.status}, #{entity.updateTime}, #{entity.createTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into db_template_database.sys_menu_rule(pid, type, title, name, path, icon, menu_type, url, component,
        keepalive, extend, remark, weigh, status, update_time, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.pid}, #{entity.type}, #{entity.title}, #{entity.name}, #{entity.path}, #{entity.icon},
            #{entity.menuType}, #{entity.url}, #{entity.component}, #{entity.keepalive}, #{entity.extend},
            #{entity.remark}, #{entity.weigh}, #{entity.status}, #{entity.updateTime}, #{entity.createTime})
        </foreach>
        on duplicate key update
        pid = values(pid) , type = values(type) , title = values(title) , name = values(name) , path = values(path) ,
        icon = values(icon) , menu_type = values(menu_type) , url = values(url) , component = values(component) ,
        keepalive = values(keepalive) , extend = values(extend) , remark = values(remark) , weigh = values(weigh) ,
        status = values(status) , update_time = values(update_time) , create_time = values(create_time)
    </insert>

</mapper>

