<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broad.system.mapper.SysUserLogMapper">

    <resultMap type="com.broad.system.entity.SysUserLog" id="SysUserLogMap">
        <result property="logId" column="log_id" jdbcType="INTEGER"/>
        <result property="logDescription" column="log_description" jdbcType="VARCHAR"/>
        <result property="logTimeCost" column="log_time_cost" jdbcType="NUMERIC"/>
        <result property="logUrl" column="log_url" jdbcType="VARCHAR"/>
        <result property="logHttpMethod" column="log_http_method" jdbcType="VARCHAR"/>
        <result property="logIpAddress" column="log_ip_address" jdbcType="VARCHAR"/>
        <result property="logParams" column="log_params" jdbcType="VARCHAR"/>
        <result property="logResult" column="log_result" jdbcType="VARCHAR"/>
        <result property="logMethodType" column="log_method_type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="key">
        sul
        .
        log_id
        , sul.log_description, sul.log_time_cost, sul.log_url, sul.log_http_method,sul.log_ip, sul.log_ip_address, sul.log_params, sul.log_result, sul.log_method_type, sul.create_time
    </sql>

    <select id="selectAll" resultType="com.broad.system.entity.SysUserLog">
        SELECT<include refid="key"/>, su.user_name adminName
        FROM sys_user_log sul
        left join sys_user su on su.id = sul.admin_id
        ORDER BY sul.create_time DESC
    </select>
</mapper>

