<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broad.system.mapper.SysUserLogMapper">

    <resultMap type="com.broad.system.entity.SysUserLog" id="SysUserLogMap">
        <result property="logId" column="log_id" jdbcType="INTEGER"/>
        <result property="logDescription" column="log_description" jdbcType="VARCHAR"/>
        <result property="logTimeCost" column="log_time_cost" jdbcType="NUMERIC"/>
        <result property="logUrl" column="log_url" jdbcType="VARCHAR"/>
        <result property="logHttpMethod" column="log_http_method" jdbcType="VARCHAR"/>
        <result property="logIpAddress" column="log_ip_address" jdbcType="VARCHAR"/>
        <result property="logParams" column="log_params" jdbcType="VARCHAR"/>
        <result property="logResult" column="log_result" jdbcType="VARCHAR"/>
        <result property="logMethodType" column="log_method_type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAll" resultType="com.broad.system.entity.SysUserLog">
        SELECT *, sys_user.user_name adminName
        FROM sys_admin_log
                 left join sys_user on sys_user.id = sys_admin_log.admin_id
        ORDER BY sys_admin_log.create_time DESC
    </select>
</mapper>

